{% extends 'base.html' %}

{% block content %}
<div class="about-us">
  <div class="about-us-content">
    <h1>About Us</h1>
    <p>
      Welcome to our project! We use AI to analyze customer data, creating a bridge between business owners and their customers. Our mission is to provide insightful data analysis to help businesses understand and meet their customers' needs effectively.
    </p>
    <p>
      I am Karan, a student at MSRIT College, Department of MCA. This project is part of my Major project. We are dedicated to leveraging AI technology to create meaningful connections and drive business success.
    </p>
    <p>
      Thank you for visiting our page. If you have any questions or would like to learn more, please feel free to contact us.
    </p>
  </div>
</div>
{% endblock %}
