<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Analyze</title>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/style.css') }}'>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/Signup.css') }}'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/FAQ.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AboutUs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Features.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Pricing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ContactUs.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Analyze</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    {% if 'is_logged_in' in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dataCollectionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Data Collection
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dataCollectionDropdown">
                            <a class="dropdown-item" href="{{ url_for('form_generator') }}">Form Generator</a>
                            <a class="dropdown-item" href="{{ url_for('my_forms') }}">My Forms</a>
                            <a class="dropdown-item" href="{{ url_for('my_datas') }}">My Data</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="sentimentAnalysisDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sentiment Analysis
                        </a>
                        <div class="dropdown-menu" aria-labelledby="sentimentAnalysisDropdown">
                            <a class="dropdown-item" href="{{ url_for('sentiment_analysis_preprocessor') }}">Preprocessor</a>
                            <a class="dropdown-item" href="{{ url_for('sentiment_analysis_analysis') }}">Analysis</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="segmentation" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Segmentation
                        </a>
                        <div class="dropdown-menu" aria-labelledby="segmentation">
                            <a class="dropdown-item" href="{{ url_for('segmentation_preprocess') }}">Preprocessor</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="trend_detection" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Trend Detection
                        </a>
                        <div class="dropdown-menu" aria-labelledby="trend_detection">
                            <a class="dropdown-item" href="{{ url_for('trend_preprocess') }}">Preprocessor</a>
                        </div>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about_us') }}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('features') }}">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('pricing') }}">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('faq') }}">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('contact_us') }}">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <main class="container mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="mt-3">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    
    {% include "chatapp.html" %}

    <script src="{{ url_for('static', filename='js/markdown.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
